
<div class="container">
  <div class="row">
    <div class="pmd-card pmd-card-default pmd-z-depth">

      <!-- Card header -->
      <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">Something went wrong</h2>
        <span class="pmd-card-subtitle-text">Here is a button to find your way back.</span>
      </div>

      <!-- Card media -->
      <!-- <div class="pmd-card-media">
        <img width="1184" height="666" class="img-responsive" src="https://lh3.googleusercontent.com/TNAOf1M25X9kbA_hnXXWaHnF7PkfiOUcNdsgU0CFaUSmO7P27ErJI7yaiTg9WrPxrMnicb0mYFoIGyAEaUqn1jjqtC0TpyQfV8lgoBwHTONZBYnj0kAF-fpteqa38XDj_0PoGvgaj6f2ZYjuLUrrLl2QP_nK4CpzMALurmSpMRL8szW7OzaiDbx_cvWVs5wnEB_VyCTA43732voQtP9B1uxR4HdYYMFH2tg9UM2ahTK4U2nHLHOWQdn8PZB1Cq8k_6B_67MCuKaGsDGJYcTvQU7F1vkOdTnS2KdGRE9DFhbJ4jev29vkZE4P_ruyFpyTU5T3QY_qtjvuCxa8kCFm9628276jg3G-fJHiVXSszxdwGgVZTmZ49dONf8mkcozId7SBz0nXOHBumkksRsZBXxCm7N8B_2mF_WDv_G6X8iFXCPa5m_BsFXaz_tBfkcTnRI-dn4MXS115RM6WDG225vToyV_ojO6WDA9PnNTU4Givsb1kUAb6005QoAgTYeDFsqYW4icWdM5a3HN7uLeLh7h6M3FGuMLrEA81lxUJXGa1eU0e9i24LkuUho714Av0wFvCo5jQvVJWr0E7xJF_mC0Oq_7iVCh0XHhfBbeq4ZR4iGzXoEdKfQ=w820-h615-no">
      </div> -->

      <!-- Card action -->
      <div class="pmd-card-actions">
        <a href="/home"><button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Back to home</button></a>
      </div>

    </div>

  </div>
</div>
